:root{
    --primary: #4ABDAC;
    --secondary: #FC4A1A;
    --dark: #384851;
    --light: #DFDCE3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}
body {
    background: var(--dark);
    display: flex;
    min-height: 100vh;
}
.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}
.topbar{
    position: fixed;
    background-color: var(--primary);
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 36px;
    box-shadow: 0 2px 5px black;
}
.topbar a{
    text-decoration: none;
    color: var(--light);
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.wrapper{
    display: flex;
    position: relative;
    overflow: hidden;
}
.sidebar{
    width: 200px;
    height: 100%;
    background: var(--light);
    padding: 30px 0;
    position: fixed;
    box-shadow: 0 2px 5px black;
    top: 50px;
    text-align: center;
    transition: all 1s ease-in-out;
    left: -200px;
    z-index: 98;
}
.sidebar.open{
    transform: translateX(200px)
}
.sidebar ul li{
    padding: 22px 16px;
    list-style-type: none;
}
.sidebar ul li a{
    text-decoration: none;
    color: var(--primary);
    font-size: 18px;
    padding: 20px 42px;
}
.sidebar ul li :hover{
    color: var(--secondary);
}
a.login{
    text-decoration: none;
    position: relative;
    top: 80px;
    background-color: var(--primary);
    color: var(--light);
    padding: 20px 30px;
    border-radius: 15px;
}
.dim{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    left: 0;
    z-index: 97;
    transition: opacity 1s ease-in-out;
}
.dim.open{
    transition: opacity 1s ease-in-out;
    box-shadow: 0 0 0 1000vmax rgba(0, 0, 0, .3);
    z-index: 97;
    opacity: 0.2;
}
.product{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 60px;
    text-align: center;
    color: var(--light);
    z-index: 96;
}
.titleCard{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("icons/Device.webp");
    background-position: center center;
    height: 625px;
    text-align: left;
}
.titleCard p{
    position: relative;
    top: 200px;
    padding: 10px;
    padding-left: 40px;
}
.titleCard h2{
    position: relative;
    top: 160px;
    padding-left: 20px;
}
.product h1{
    color: var(--secondary);
    position: relative;
    top: 150px;
    font-weight: bolder;
    padding: 10px
}

.product li{
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: block;
    background-color: var(--primary);
    width: 80%;
    color: var(--dark);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 5px black;
}
.product img{
    padding-bottom: 20px;
}
.product p{
    font-weight: bold;
}
.signin{
    display: flex;
    position: absolute;
    left: 35vw;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    background-color: var(--primary);
    padding: 30px;
    border-radius: 20px;
}
.signin form{
    color: var(--secondary);
    position: relative;
    text-align: center;
    font-size: 18px;
}
.signin form label{
    color: var(--light);
}
.signin form label .submit{
    background-color: var(--secondary);
}
table{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 5px black;
}
table h1{
    font-weight: bold;
    background-color: var(--primary);
    padding: 15px;
    border-radius: 20px;
}
.about{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top:40px;
    text-align: left;
    color: var(--light);
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('icons/building.jpg');
    height: 700px;
    background-size: cover;
}
.about h1{
    position: relative;
    top: 130px;
    padding: 15px;
    border-radius: 15px;
}
.about p{
    background-color: var(--secondary);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    top: 180px;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
}

/* Menu */
.menuBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.burgerMenuBtn {
    width: 2rem;
    height: 0.2rem;
    background: var(--light);
    border-radius: 5px;

    transition: all 1s ease-in-out;
}
.burgerMenuBtn::before,
.burgerMenuBtn::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    background: var(--light);
    border-radius: 5px;
    transition: all 1s ease-in-out;
}
.burgerMenuBtn::before{
    transform: translateY(-0.5rem);
}
.burgerMenuBtn::after{
    transform: translateY(0.5rem);
}
/* Animation */
.menuBtn.open .burgerMenuBtn{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;

}
.menuBtn.open .burgerMenuBtn::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.menuBtn.open .burgerMenuBtn::after{
    transform: rotate(-45deg) translate(35px, 35px);
}