* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #384851;
    display: flex;
    min-height: 100vh;
}

.header{
    background: blue;
    position: relative;
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;
}


/* Menu */
.menuBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.burgerMenuBtn {
    width: 1.5rem;
    height: 0.1rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.burgerMenuBtn::before,
.burgerMenuBtn::after {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 0.1rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.burgerMenuBtn::before{
    transform: translateY(-0.5rem);
}
.burgerMenuBtn::after{
    transform: translateY(0.5rem);
}
/* Animation */
.menuBtn.open .burgerMenuBtn{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;

}
.menuBtn.open .burgerMenuBtn::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.menuBtn.open .burgerMenuBtn::after{
    transform: rotate(-45deg) translate(35px, 35px);
}